<main>
    <section>
        <div class="row">
            {{#with header}}
            <div class="col-4">
                <h1>{{title}}</h1>
            </div>
            <div class="col-6"></div>
            {{#with button}}
            <div class="col-2">
                <a class="btn btn-outline-secondary" href="{{link}}">{{text}}</a>
            </div>

            {{/with}}
            {{/with}}
        </div>

        <hr class="my-5">

        {{#each goodsBlock}}
        {{>shopCartGoodsItem}}
        {{/each}}

        <hr class="my-5">

        {{#with total}}
        <div class="row">
            <div class="col-6">
                <p class="h3">{{title}}</p>
                <p class="h2">{{amount}}</p>
                <p class="small ">{{delivery}}</p>
            </div>
            <div class="col-3"></div>
            <div class="col-3 d-flex flex-column justify-content-evenly">
                {{#each buttons}}
                <a class="btn {{#if isSuccess}}btn-success{{/if}} {{#if isOutline}}btn-outline-success{{/if}}"
                    href="{{link}}">{{text}}</a>
                {{/each}}
            </div>
        </div>
        {{/with}}

    </section>

    <hr class="my-5">


    <section>

        {{#with goodsOtherBlock}}
        <h2 class="display-2 text-center">{{title}}</h2>
        {{> shopcard}}
        {{/with}}
    </section>

    <hr class="my-5">

    {{>shopsubscribe}}

</main>