{{#with header}}
<header>
    <div class="mb-2">
        <h1>{{firstname}} {{lastname}}</h1>
    </div>
    <div class="mb-2">
        <b>{{position}}</b>
    </div>
    <div class="mb-2">
        <em>{{salary}}</em>
    </div>
    <div class="mb-2">
        <address>{{address}}</address>
    </div>
    <hr class="my-5">
</header>
{{/with}}